<% provide(:title, "#{@queries.join(" ")} の検索結果") %>
<div class="page-header">
  <h1>
    <%= @queries.join(" ") %>
    の検索結果
    <small>
      <%= @binders.count %> 件
    </small>
  </h1>
</div>

<% @binders.each do |binder| %>
  <%= render 'binder', binder: binder %>
<% end %>
