<div class="container text-center">
  <hr />

  <p class="text-muted">Copyright &copy; 2015 Bindr. All Rights Reserved.</p>

  <p>
    <%= link_to 'Github', 'https://github.com/succi0303/bindr', target: '_blank' %>
    -
    <%= link_to 'Issues', 'https://github.com/succi0303/bindr/issues', target: '_blank' %>
  </p>

</div>
